{{ $asset := resources.Get "/img/logo.png" }}
{{ $logo := $asset }}
<nav x-data="{ open: false }">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between mt-2 sm:mt-1">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <!-- Mobile menu button-->
                <button @click="open = ! open" type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <!--
                      Icon when menu is closed.

                      Heroicon name: outline/menu

                      Menu open: "hidden", Menu closed: "block"
                    -->
                    <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                    <!--
                      Icon when menu is open.

                      Heroicon name: outline/x

                      Menu open: "block", Menu closed: "hidden"
                    -->
                    <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex flex-shrink-0 items-center">
                    <a href="/">
                        <img class="block h-8 w-auto sm:hidden" src="{{ $logo.RelPermalink }}" alt="Logo">
                        <img class="hidden h-20 w-auto sm:block" src="{{ $logo.RelPermalink }}" alt="Logo">
                    </a>
                </div>
                <div class="hidden sm:ml-6 sm:block m-auto">
                    <div class="flex space-x-4">

                        {{ $currentPage := . }}
                        {{ $pageURL := $currentPage.RelPermalink | relLangURL }}

                        {{ range .Site.Menus.main }}

                        {{ $menuItemURL := .URL | relLangURL }}

                        {{ if eq $menuItemURL $pageURL }}
                        <a href="{{ .URL }}" class="bg-gray-800 text-white border border-stone-400 px-3 py-2 rounded-md text-sm font-medium" aria-current="page">{{ .Title }}</a>
                        {{ else }}
                        <a href="{{ .URL }}" class="hover:bg-gray-700 hover:text-white text-gray-800 px-3 py-2 rounded-md text-sm font-medium">{{ .Title }}</a>
                        {{ end }}
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->

                        {{ end }}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu" x-show="open">
        <div class="space-y-1 px-4 pt-2 pb-3">

            {{ $currentPage := . }}
            {{ $pageURL := $currentPage.RelPermalink | relLangURL }}

            {{ range .Site.Menus.main }}

            {{ $menuItemURL := .URL | relLangURL }}

            {{ if eq $menuItemURL $pageURL }}
            <a href="{{ .URL }}" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">{{ .Title }}</a>
            {{ else }}
            <a href="{{ .URL }}" class="text-gray-800 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">{{ .Title }}</a>
            {{ end }}

            {{ end }}
        </div>
    </div>
</nav>