{{ define "main" }}
<main class="container max-w-2xl lg:max-w-3xl xl:max-w-4xl mx-auto mb-auto sm:mt-12 mt-8 px-2">
    {{ $pageName := path.BaseName .File }}
    {{ $imageName := printf "%s%s%s" "**/" $pageName ".jpg" }}
    {{ $image := resources.GetMatch $imageName }}

    {{ if $image }}

    <div class="w-full h-96 overflow-hidden rounded-t-xl">
        <img class="w-full h-full object-cover" src="{{$image.Permalink}}" alt="{{$pageName}}">
    </div>

    {{ end }}
    <article class="bg-zinc-100 px-8 sm:px-16 py-8 mx-auto rounded-b-xl text-justify prose prose-sm prose-sm:prose-pre:overflow-x-auto md:prose max-w-none md:max-w-none prose-zinc md:prose-zinc prose-a:text-sky-700 md:prose-a:text-sky-700 hover:prose-a:text-sky-800 prose-img:rounded-xl">
        <time class="text-xs" datetime="{{.PublishDate.Format "2006-01-02T15:04:05"}}">{{.PublishDate.Format "2006-01-02"}}</time>
        <h1>{{ .Title }}</h1>
        {{ .Content }}
    </article>

    <article class="bg-blue-50 mt-4 px-8 sm:px-16 py-8 mx-auto rounded-xl text-justify prose prose-sm prose-sm:prose-pre:overflow-x-auto md:prose max-w-none md:max-w-none prose-zinc md:prose-zinc prose-a:text-sky-700 md:prose-a:text-sky-700 hover:prose-a:text-sky-800 prose-img:rounded-xl">
        {{ template "_internal/disqus.html" . }}
    </article>
</main>
{{ end }}