<div class="isolate bg-white max-w-4xl mx-auto rounded-xl shadow-lg overflow-hidden relative mb-16">

  <div class="sm:flex relative">
    <div class="hero isolate absolute left-0 h-full w-full overflow-hidden opacity-30 -z-40">
    </div>
    <div class="sm:flex sm:shrink-0">
       <img class="object-cover h-48 w-full sm:h-full sm:w-48 md:w-72 lg:w-72" src="/img/{{.context.Params.code}}.jpg" alt="Przemek Malirz">
    </div>
    <div class="px-4 sm:px-4 lg:px-16">
      <div class="mx-auto max-w-4xl pt-8 pb-12 sm:pt-12 sm:pb-12">
        <div>
          <!--<div class="hidden sm:mb-8 sm:flex sm:justify-center">
            <div class="relative overflow-hidden rounded-full py-1.5 md:px-4 px-2 text-sm leading-6 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
              <span class="text-gray-600">
                Dostępne również konsultacje online. <a href="#" class="font-semibold text-indigo-600"><span class="absolute inset-0" aria-hidden="true"></span>Więcej <span aria-hidden="true">&rarr;</span></a>
              </span>
            </div>
          </div>
          <div>-->
            <h1 class="text-left text-4xl font-bold tracking-tight text-center sm:text-4xl">
                {{.context.Title}}
            ️</h1>
            <p class="mt-6 text-lg leading-8 text-gray-800">
                {{plainify .context.Summary}}
            </p>
            <div class="mt-8 flex gap-x-4 sm:justify-center">
              <a href="{{.context.Permalink}}" class="inline-block rounded-lg bg-indigo-600 px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-indigo-600 hover:bg-indigo-700 hover:ring-indigo-700">
                Dowiedz się więcej
                <span class="text-indigo-200" aria-hidden="true">&rarr;</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>