<div class="offer-item-list-container bg-zinc-50 rounded-md shadow-lg overflow-hidden max-w-sm">
    <!--    <div class="hero isolate absolute left-0 overflow-hidden opacity-20 h-full w-full -z-10">
        </div>-->
    <a href="{{.context.Permalink}}">
        <div class="">
            <div class="h-48">
                {{ $pageName := path.BaseName .context.File }}
                {{ $imageName := printf "%s%s%s" "**/" $pageName ".jpg" }}
                {{ $image := resources.GetMatch $imageName }}

                {{ if $image }}
                {{ $image := $image.Resize "420x jpeg q85" }}
                <img class="object-cover w-full h-full offer-item-list-image" src="{{$image.Permalink}}"
                     alt="Image {{.context.Params.code}}">
                {{ end }}
            </div>
            <div class="h-36 px-4 pt-2">
                <p class="text-left tracking-tight sm:text-lg font-semibold text-sky-700">
                    {{.context.Title}}
                </p>
                <p class="mt-2 text-md leading-2 text-gray-500 min-h-[3rem]">
                    {{.context.Description}}
                </p>
            </div>
            <div class="flex flex-row justify-between px-4">
                    <div class="">
                        {{$text := printf "%s %s" "⏰" .context.Params.duration}}
                        {{partial "badge.html" (dict "context" . "text" $text "bgcolor" "bg-gray-200" "txcolor" "text-black")}}
                     ️</div>
                    <div class="">
                        {{partial "badge.html" (dict "context" . "text" "Za darmo" "bgcolor" "bg-rose-600" "txcolor" "text-white")}}
                    </div>
            </div>
        </div>
    </a>

</div>
