{{ define "main" }}
<main class="container max-w-2xl lg:max-w-3xl xl:max-w-4xl mx-auto mb-auto sm:mt-12 mt-8 px-2">

    <article
            class="bg-zinc-100 px-8 sm:px-16 py-8 mx-auto rounded-xl text-justify prose-sm md:prose max-w-none md:max-w-none prose-zinc sm:prose-zinc prose-a:text-sky-700 md:prose-a:text-sky-700 prose-img:rounded-xl">
        <h1>{{ .Title }}</h1>

        {{ .Content }}
        <ul>
            {{ range where .Pages "Draft" false}}
            <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
    </article>
</main>
{{ end }}