{{ define "main" }}
<main class="container max-w-2xl lg:max-w-3xl xl:max-w-4xl mx-auto mb-auto sm:mt-12 mt-8 px-2">
    {{ $pageName := path.BaseName .File }}
    {{ $imageName := printf "%s%s%s" "**/" $pageName ".jpg" }}
    {{ $image := resources.GetMatch $imageName }}

    {{ if $image }}

    <div class="w-full h-96 overflow-hidden rounded-t-xl">
        <img class="w-full h-full object-cover  " src="{{$image.Permalink}}">
    </div>
    {{ end }}
    <article class="bg-zinc-100 px-8 sm:px-16 py-8 mx-auto rounded-xl text-justify prose-sm md:prose max-w-none md:max-w-none prose-zinc md:prose-zinc prose-a:text-sky-700 md:prose-a:text-sky-700 hover:prose-a:text-sky-800 prose-img:rounded-xl">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
    </article>
</main>
{{ end }}