@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');
/* TailwindCSS base styles */
/* see https://tailwindcss.com/docs/functions-and-directives#tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Site Specific */
/* put site specific css styles here using the @layer directive */
/* see https://tailwindcss.com/docs/functions-and-directives#layer */
@layer components {

    .offer-item-list-image {
        @apply grayscale-0;
    }

    .offer-item-list-container:hover .offer-item-list-image {
        @apply grayscale-0;
    }

    .bkg {
        background-image: url("/img/bg.jpg");
        background-size: cover;
        background-attachment: fixed;
    }

    .myarticle > p {
        @apply mt-4
    }

    .myarticle > blockquote {
        @apply p-4 my-4 border-l-4 border-gray-400 bg-gray-200 dark:border-gray-500 dark:bg-gray-800
    }

    .myarticle a {
        @apply underline text-sky-900 hover:text-blue-800 visited:text-purple-800
    }

}

@layer base {

}
